<!-- Vendor -->
<link rel="stylesheet" href="/dist/css/vendor/bootstrap.css">

<!-- Global Components -->
<link rel="stylesheet" href="/dist/css/components/global/navbar.css">
<link rel="stylesheet" href="/dist/css/components/global/footer.css">
<!-- <link rel="stylesheet" href=""> -->

<!-- Page Components -->
<link rel="stylesheet" href="/dist/css/components/carousel.css">
<link rel="stylesheet" href="/dist/css/components/album.css">
<link rel="stylesheet" href="/dist/css/components/floating-labels.css">
<link rel="stylesheet" href="/dist/css/components/pricing.css">

<!-- Page templates -->
<link rel="stylesheet" href="/dist/css/layouts/blog.css">
<link rel="stylesheet" href="/dist/css/layouts/shop.css">
<link rel="stylesheet" href="/dist/css/layouts/post.css">
<link rel="stylesheet" href="/dist/css/layouts/landing.css">
<link rel="stylesheet" href="/dist/css/layouts/services.css">
<link rel="stylesheet" href="/dist/css/layouts/product.css">