<!DOCTYPE html>
<html lang="en">
     <script>
      var startTime = new Date();
      var lastNodeTime = new Date();
      var observer = new MutationObserver(function(mutations){
        for (var i=0; i < mutations.length; i++){
          // console.log("MUTATION", mutations)
          for (var j=0; j < mutations[i].addedNodes.length; j++){
            checkNode(mutations[i].addedNodes[j]);
          }
        }
      });

      observer.observe(document.documentElement, {
        childList: true,
        subtree: true
      });

      let checkNode = function(addedNode) {
        if (addedNode.outerHTML) {
          console.table({ 
            "Node HTML": addedNode.outerHTML,
            "Time Since Last Node Added": new Date() - lastNodeTime,
            "Added At": new Date() - startTime 
          })
          lastNodeTime = new Date();
        }
      }
      document.addEventListener("DOMContentLoaded", () => {
        console.log("DOMContentLoaded", (new Date() - startTime) + 120, "(Approx.)")
        observer.disconnect();
      })
  </script> 

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Tab Title</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <!-- Styles Here -->
    <!-- <script src="/dist/js/debug/performance.js"></script> -->
    <link rel="stylesheet" href="/dist/css/style.css" />
    <script src="/dist/js/debug/delay.js"></script>
    <script>
      delay(100)
    </script>
    <!-- Styles Here -->
  </head>

  <body>
    <main>
      <script>
        setTimeout(function() {
          let nodeAfter = document.querySelector(".nodeAfter");
          nodeAfter.innerText = "You Found Me";
        }, 50)
      </script>
      <h1 class="nodeAfter">You can't find me</h1>

      <script>
        delay(2000)
      </script>
      <!-- <p>Code your way to freedom</p> -->
      <!-- <button onclick="clicked()">Measure this Function</button> -->
      <!-- Create a Node with  JS-->
      <!-- <script>
        let newElement = document.createElement("p");
        newElement.className = "jsCreatedParagraph";
        newElement.innerText = "JS Created Paragraph"
        document.body.appendChild(newElement)
      </script> -->

    </main>
    <!-- Scripts Here -->
    <!-- <script defer src="/dist/js/bye.js"></script> -->
    <!-- <script src="/dist/js/hello.js"></script> -->
    <!-- <script async src="/dist/js/hello_again.js"></script> -->
    <!-- <link rel="stylesheet" href="/dist/css/five.css" /> -->
    <!-- <link rel="stylesheet" href="/dist/css/style.css" /> -->

    <!-- Scripts Here -->
  </body>
</html>
